<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gg.server.mapper.edu.DoctorBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gg.server.entity.edu.DoctorBase">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="coverUrl" property="coverUrl"/>
        <result column="sex" property="sex" />
        <result column="hspId" property="hspId" />
        <result column="hspName" property="hspName" />
        <result column="offLineId" property="offLineId" />
        <result column="titleId" property="titleId" />
        <result column="titleName" property="titleName" />
        <result column="deptId" property="deptId" />
        <result column="deptName" property="deptName" />
        <result column="des" property="des" />
        <result column="better" property="better" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name,coverUrl, sex, hspId, hspName, offLineId, titleId, titleName, deptId, deptName, des, better, state
    </sql>

</mapper>
